header,
main {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    height: 95vh;
    overflow: hidden;
}

.burger-menu {
    z-index: 2;
}

.burger-menu ul {
    display: flex;
    flex-direction: column;
    transition-property: transform;
    transition-duration: 500ms;
}

.burger-menu li {
    width: 40px;
    height: 6px;
    margin-top: 5px;
    background-color: #cecece;
}

.switch-element {
    position: relative;
    display: flex;
    width: 100px;
    height: 32px;
    background: linear-gradient(to right, #009bad, #00bf84);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.switch-element-text{
    position: absolute;
    left: 35px;
    top: -8px;
}

.switch-text-game-mode {
    position: absolute;
    left: 5px;
}

.switch-element-game-mode {
    background: linear-gradient(to right, #fd6c63, #feb36b);
}

.slider {
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-left: 2px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #cecece;
    border-radius: 3px;
    transition-property: margin-left;
    transition-duration: 250ms;
}

.card-wrap {
    display: grid;
    margin-top: 30px;
    margin-left: 70px;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(4, 250px);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #009bad 15%, #00bf84 50%, white 50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition-property: box-shadow;
    transition-duration: 400ms;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.card-game-mode {
    background: linear-gradient(to bottom, #fd6c63 15%, #feb36b 50%, white 50%);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    border-width: 10px;
    border-style: solid;
    border-color: white;
}

.burger-menu-wrap {
    position: absolute;
    top: -95px;
    left: -25vw;
    width: 25vw;
    height: 100vh;
    background: linear-gradient(to bottom, #009bad, #00bf84);
    font-size: 25px;
    color: white;
    transition-property: left;
    transition-duration: 500ms;
}

.burger-menu-wrap p {
    margin-left: 80px;
}

.burger-menu-wrap p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.burger-menu-wrap p:first-child {
    margin-top: 250px;
}

.burger-menu-game-mode {
    background: linear-gradient(to bottom, #fd6c63, #feb36b);
}
