header,
main {
    max-width: 1400px;
    width: 100vw;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

ul, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    display: flex;
}

a {
    color: white;
}

.burger-menu {
    z-index: 2;
}

.burger-menu ul {
    display: flex;
    flex-direction: column;
    transition-property: transform;
    transition-duration: 500ms;
}

.burger-menu li {
    width: 40px;
    height: 6px;
    margin-top: 5px;
    background-color: #cecece;
}

.switch-element {
    position: relative;
    display: flex;
    width: 100px;
    height: 32px;
    background: linear-gradient(to right, #009bad, #00bf84);
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.switch-element-text{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 35px;
    top: 8px;
}

.switch-text-game-mode {
    position: absolute;
    left: 5px;
}

.switch-element-game-mode {
    background: linear-gradient(to right, #fd6c63, #feb36b);
}

.slider {
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-left: 2px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #cecece;
    border-radius: 3px;
    transition-property: margin-left;
    transition-duration: 250ms;
}

.card-wrap {
    display: grid;
    margin-top: 70px;
    margin-left: 70px;
    grid-template-rows: repeat(2, 260px);
    grid-template-columns: repeat(4, 300px);
    gap: 35px;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #009bad 15%, #00bf84 50%, white 50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition-property: box-shadow;
    transition-duration: 400ms;
    cursor: pointer;
}

.category:hover,
.card:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.card-game-mode {
    background: linear-gradient(to bottom, #fd6c63 15%, #feb36b 50%, white 50%);
}

.category img {
    width: 125px;
    height: 120px;
    margin-top: 20px;
    border-radius: 70px;
    border: 20px;
    border-bottom: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: white;
}

.category p {
    margin-top: 20px;
    font-size: 23px;
}

.burger-menu-wrap {
    position: absolute;
    top: -95px;
    left: -25vw;
    width: 25vw;
    height: 1200px;
    background: linear-gradient(to bottom, #009bad, #00bf84);
    font-size: 25px;
    color: white;
    transition-property: left;
    transition-duration: 500ms;
    z-index: 3;
}

.burger-menu-wrap p {
    margin-left: 80px;
    margin-top: 10px;
}

.burger-menu-wrap p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.burger-menu-wrap p:first-child {
    margin-top: 250px;
}

.burger-menu-game-mode {
    background: linear-gradient(to bottom, #fd6c63, #feb36b);
}

/* styles for category.html*/
.heading {
    width: 200px;
    margin: 30px auto;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,0.5);
}

.card,
.card-backside {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition-property: box-shadow;
    transition-duration: 400ms;
    cursor: pointer;
}

.card {
    z-index: 2;
}

.card img {
    width: 300px;
    height: 200px;
}

.word,
.russian-word {
    width: 65%;
    margin-left: 20%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    text-align: center;
}

.russian-word {
    margin-top: 15px;
}

.word-wrap {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.word-wrap i:hover {
    color: #009bad;
}

.card-backside img {
    width: 300px;
    height: 200px;
}

.game-button {
    display: none;
    width: 40vw;
    height: 50px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    background: linear-gradient(to right, #fd6c63, #feb36b);
    border: 2px solid white;
    border-radius: 10px;
}

.repeat-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    border-radius: 35px;
    background: linear-gradient(to right, #fd6c63, #feb36b);
    visibility: hidden;
}

/* animation*/
.card-backside,
.card {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.card-container {
    perspective: 1000;
    transition-property: height;
    transition-duration: 200ms;
}

.card-container.flip .flipper {
    transform: rotateY(180deg);
}

.flipper {
    position: relative;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.card-backside {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}
/*////////////////*/
/*styles for game mode*/
.game-mode-image {
    width: 100%;
    height: 100%;
}


/*/////////////////*/

@media (max-width: 1399px) {
    .card-wrap {
        margin: 70px auto;
        grid-template-columns: repeat(3, 300px);
        gap: 35px;
    }
}

@media (min-width: 680px) and (max-width: 1000px) {
    .card-wrap {
        margin: 70px auto;
        grid-template-rows: repeat(4, 260px);
        grid-template-columns: repeat(2, 300px);
        gap: 35px;
    }
}

@media (min-width: 320px) and (max-width: 679px) {
    .card-wrap {
        margin: 70px auto;
        grid-template-rows: repeat(8, 260px);
        grid-template-columns: repeat(1, 300px);
        gap: 35px;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .card-wrap {
        margin: 70px auto;
        grid-template-rows: repeat(8, 250px);
        grid-template-columns: repeat(1, 250px);
        gap: 35px;
    }

    .burger-menu-wrap {
        height: 1200px;
        font-size: 15px;
    }

    .burger-menu-wrap p {
        margin-left: 5px;
        margin-top: 10px;
    }
}
