body {
  max-width: 1440px;
  max-height: 100vh;
  margin: 0 auto;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, p, li, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

header {
  display: flex;
}

main {
  display: flex;
  width: 100%;
}

img {
  filter: invert(100%) sepia(0%) saturate(7458%) hue-rotate(179deg) brightness(114%) contrast(93%);
}

@font-face {
  font-family: Montserrat;
  src: url("/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

.settings {
  display: flex;
  margin-left: 93px;
  margin-top: 40px;
  height: 44px;
}

.settings__language-changer {
  display: flex;
  margin-left: 10px;
}

.settings__language-changer p,
.settings__temperature-changer__lang,
.settings__image-changer,
.search-container__voice-search {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(94, 94, 94, 0.5);
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-color: white;
}

.search-container__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 44px;
}

.settings__image-changer {
  border-radius: 3px;
}

.settings__language-changer p:first-child,
.settings__temperature-changer__lang:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.settings__language-changer p:last-child,
.settings__temperature-changer__lang:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.active,
.active-lang {
	box-shadow: inset rgba(255,255,255,0.2) 4px  4px 9px 2.5px,
	            inset rgba(0,0,0,0.5)      -4px -4px 9px 2.5px;
}

.settings__language-changer_active {
  left: 266px;
}

.settings__temperature-changer {
  display: flex;
  margin-left: 10px;
}

.search-container__textarea {
  width: 274px;
  height: 44px;
  background: rgba(76, 82, 85, 0.4);
  border: 1px solid rgba(228, 227, 227, 0.2);
  box-sizing: border-box;
  outline: none;
}

.search-container__button {
  background-image: url('images/search.svg');
  background-color: rgba(76, 82, 85, 0.4);
  background-repeat: no-repeat;
  outline: none;
}

.search-icon {
  width: 40px;
  height: 40px;
}

.search-container {
  display: flex;
  margin-left: 659px;
  margin-top: 44px;
}

.weather {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  margin-left: 90px;
  background-color: rgba(94, 94, 94, 0.5);
}

.weather__user-info__location {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  color: #FFFFFF;
}

.weather__user-info__time {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.weather__today-info {
  display: flex;
}

.weather__today-info__temperature {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 306px;
  line-height: 373px;
  color: #FFFFFF;
}

.weather__today-data {
  margin-left: 42px;
  margin-top: 54px;
  width: 250px;
}

.weather__today-data li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
  color: #FFFFFF;
}

.weather-week {
  display: flex;
  margin-top: 78px;
}

.weather-week__day {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.weather-week__second-day,
.weather-week__third-day {
  margin-left: 52px;
}

.weather-week__second-day,
.weather-week__third-day,
.weather-week__first-day {
  width: 220px;
  overflow: hidden;
}

.weather-week__first-day__temperature,
.weather-week__second-day__temperature,
.weather-week__third-day__temperature {
   display: flex;
 }

.weather-week__first-day__temperature img,
.weather-week__second-day__temperature img,
.weather-week__third-day__temperature img {
  width: 80px;
  height: 64px;
}

.weather-week__temperature {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 98px;
}

#map {
  border-radius: 200px;
  margin-top: 50px;
  margin-left: 50px;
  width: 400px;
  height: 400px;
}

.map-container__map {
  margin-left: 150px;
  margin-top: 55px;
  height: 450px;
}

.map-container__coordinates {
  width: 500px;
  background-color: rgba(94, 94, 94, 0.5);
  margin-top: 30px;
  margin-left: 150px;
}

.map-container__coordinates__lat,
.map-container__coordinates__long {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 500px;
  background-color: rgba(94, 94, 94, 0.5);
  margin-top: 30px;
  margin-left: 150px;
}

.error-container__error {
  color: red;
  font-size: 20px;
  font-weight: 700;
}

.micro-icon {
  width: 44px;
  height: 44px;
}

.active-micro {
  filter: invert(20%) sepia(70%) saturate(5929%) hue-rotate(129deg) brightness(93%) contrast(73%);
}

.micro-icon:hover {
  cursor: pointer;
  filter: invert(20%) sepia(70%) saturate(5929%) hue-rotate(129deg) brightness(93%) contrast(73%);
}

@media (min-width: 1350px) and (max-width: 1400px) {
  .map-container__map {
    margin-left: 5vw;
  }

  .map-container {
    width: 35vw;
  }

  .weather {
    width: 55vw;
  }

  .map-container__coordinates {
    width: 27vw;
  }

  .search-container {
    margin-left: 40vw;
  }
}

@media (min-width: 1200px) and (max-width: 1349px) {
  .map-container__map {
    margin-left: 5vw;
  }

  .map-container {
    width: 30vw;
  }

  .weather {
    width: 50vw;
  }

  .map-container__coordinates {
    width: 25vw;
  }

  .search-container {
    margin-left: 35vw;
  }

  .weather__today-info__temperature {
    font-size: 20vw;
  }

  .weather__today-data {
    width: 17vw;
  }

  .weather__today-data li {
    font-size: 1.5vw;
  }
}

@media (min-width: 1050px) and (max-width: 1199px) {
  #map {
    width: 30vw;
    height: 30vw;
  }

  .map-container__map {
    margin-left: 5vw;
  }

  .map-container {
    width: 30vw;
  }

  .weather {
    width: 50vw;
  }

  .map-container__coordinates {
    width: 25vw;
  }

  .search-container {
    margin-left: 27vw;
  }

  .weather__today-info__temperature {
    font-size: 20vw;
  }

  .weather__today-data {
    width: 17vw;
  }

  .weather__today-data li {
    font-size: 1.5vw;
  }

  .weather-week__first-day__temperature img,
  .weather-week__second-day__temperature img,
  .weather-week__third-day__temperature img {
    width: 3vw;
  }

  .first-day,
  .second-day,
  .third-day {
    font-size: 5vw;
  }
}

@media (min-width: 800px) and (max-width: 1049px) {
  #map {
    width: 30vw;
    height: 30vw;
  }

  .map-container__map {
    margin-left: 5vw;
  }

  .map-container {
    width: 30vw;
  }

  .weather {
    width: 50vw;
    margin-left: 5vw;
  }

  .settings {
    margin-left: 5vw;
  }

  .map-container__coordinates {
    width: 25vw;
  }

  .search-container {
    margin-left: 20vw;
  }

  .search-container__textarea {
    width: 25vw;
  }

  .weather__today-info__temperature {
    font-size: 20vw;
  }

  .weather__today-data {
    width: 17vw;
  }

  .weather__today-data li {
    font-size: 1.5vw;
  }

  .weather-week__first-day__temperature img,
  .weather-week__second-day__temperature img,
  .weather-week__third-day__temperature img {
    width: 3vw;
  }

  .first-day,
  .second-day,
  .third-day {
    font-size: 5vw;
  }

  .weather-week__day {
    font-size: 2vw;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  main {
    flex-direction: column;
  }

  header {
    flex-direction: column;
  }

  #map {
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  .map-container__map {
    margin-left: 5vw;
  }

  .map-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .weather {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .settings,
  .search-container {
    margin-left: auto;
    margin-right: auto;
  }

  .search-container {
    width: 80vw;
  }

  .search-container__textarea {
    width: 60vw;
  }

  .map-container__coordinates {
    width: 50vw;
  }

  .weather__today-info__temperature {
    font-size: 20vw;
  }

  .weather__today-data {
    width: 30vw;
  }

  .weather__today-data li {
    font-size: 2.5vw;
  }

  .weather-week__first-day__temperature img,
  .weather-week__second-day__temperature img,
  .weather-week__third-day__temperature img {
    width: 8vw;
  }

  .first-day,
  .second-day,
  .third-day {
    font-size: 8vw;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main {
    flex-direction: column;
  }

  header {
    flex-direction: column;
  }

  #map {
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  .map-container__map {
    margin-left: 5vw;
    height: 60vw;
  }

  .map-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .weather {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .settings,
  .search-container {
    margin-left: auto;
    margin-right: auto;
  }

  .search-container {
    width: 80vw;
  }

  .search-container__textarea {
    width: 60vw;
  }

  .map-container__coordinates {
    width: 50vw;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
  }

  .weather__today-info__temperature {
    font-size: 20vw;
  }

  .weather__today-data {
    width: 30vw;
  }

  .weather__today-data li {
    font-size: 2.5vw;
  }

  .weather-week__first-day__temperature img,
  .weather-week__second-day__temperature img,
  .weather-week__third-day__temperature img {
    width: 6vw;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  main {
    flex-direction: column;
  }

  header {
    flex-direction: column;
  }

  .weather-week,
  .weather__today-info {
    flex-direction: column;
  }

  .weather__today-info__temperature {
    text-align: center;
  }

  #map {
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  .map-container__map {
    margin-left: 5vw;
    height: 60vw;
  }

  .map-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .weather {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .settings,
  .search-container {
    margin-left: auto;
    margin-right: auto;
  }

  .search-container {
    width: 80vw;
  }

  .search-container__textarea {
    width: 60vw;
  }

  .map-container__coordinates {
    width: 50vw;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
  }

  .weather__today-info__temperature {
    font-size: 40vw;
  }

  .weather__today-data {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  .weather__today-data li {
    font-size: 4vw;
  }

  .weather-week__first-day,
  .weather-week__second-day,
  .weather-week__third-day {
    margin-left: auto;
    margin-right: auto;
  }

  .weather-week__first-day__temperature,
  .weather-week__second-day__temperature,
  .weather-week__third-day__temperature {
    justify-content: center;
    align-items: center;
  }

  .weather-week__day {
    text-align: center;
  }

  .weather-week__first-day__temperature img,
  .weather-week__second-day__temperature img,
  .weather-week__third-day__temperature img {
    width: 10vw;
  }
}
